.contact-icons {
  padding: 4px;
  position: relative;
  border-radius: 16px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  z-index: -1;
}

.image-space {
  padding: 0px 8px 0px 15px;
}
